<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="furkan korkusuz" />
        <meta name="author" content="Furkan Korkusuz" />
        <title>Tedarikçi Paneli</title>

        <link href="~/Content/BasePage/styles.css?@Core.UI.WebUI.Version.CSS" rel="stylesheet" />
        <link href="~/Content/BasePage/BasePage.css?@Core.UI.WebUI.Version.CSS" rel="stylesheet" />
	    <link href="~/Content/Font-awsome-5.13.0/all.min.css?@Core.UI.WebUI.Version.CSS" rel="stylesheet" />
	    <link href="~/Content/bootstrap-5.1.3/css/bootstrap.min.css?@Core.UI.WebUI.Version.CSS" rel="stylesheet" />
	    <link href="~/Content/BasePage/select2.min.css?@Core.UI.WebUI.Version.CSS" rel="stylesheet" />
	    <link href="~/Content/BasePage/bootstrap-datepicker.min.css?@Core.UI.WebUI.Version.CSS" rel="stylesheet" />

    </head>
    <body class="sb-nav-fixed">
        @Html.Raw(MVC.Web.UI.Controllers.BasePage.BasePageMenu())
 @RenderBody();
       

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/Scripts/bootstrap-5.1.3/js/bootstrap.bundle.min.js?@Core.UI.WebUI.Version.JS"></script>
    <script src="~/Scripts/BasePage/scripts.js?@Core.UI.WebUI.Version.JS"></script>
	<script src="~/Scripts/BasePage/BasePage.js?@Core.UI.WebUI.Version.JS"></script>
	<script src="~/Scripts/BasePage/BackendHelper.js?@Core.UI.WebUI.Version.JS"></script>
	<script src="~/Scripts/BasePage/ModalHelper.js?@Core.UI.WebUI.Version.JS"></script>
	<script src="~/Scripts/BasePage/select2.min.js?@Core.UI.WebUI.Version.JS"></script>
	<script src="~/Scripts/BasePage/bootstrap-datepicker.min.js?@Core.UI.WebUI.Version.JS"></script>
	@*   <script>
		@Html.Raw(MVC.Web.UI.Controllers.BasePage.PermissionJS())
		</script>*@
	@RenderSection("scripts", required: false)
    </body>
</html>
